

<nav class="navbar navbar-dark bg-dark" >
  <div class="container" style="width: 40%;">
    <a href="/" class="navbar-brand">Usuarios</a>
    <a href="/active" class="navbar-brand">Usuarios Activos</a>
    <a href="/logout" class="navbar-brand">Log Out</a>
    <a href="#Agregar" class="navbar-brand">
      <span class="material-icons">person_add_alt</span>
  </div>
</nav>


<!--    <% if (typeof login != "undefined") { %> 
            
        <% } %>

         -->

