


<nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand mx-auto">Usuarios</a>

    <% if (typeof login != "undefined") { %> <a href="/logout" class="navbar-brand mx-auto">Log Out</a> <% } %>

</nav>
