<nav class="navbar navbar-dark bg-dark"">
  <a href="/" class="navbar-brand">Usuarios</a>
  <a href="/active" class="navbar-brand">Usuarios Activos</a>
  <a href="/logout" class="navbar-brand">Log Out</a>
</nav>

<!--    <% if (typeof login != "undefined") { %> 
            
        <% } %>

         -->
